.review {
    background: white;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.1);
    margin: 10px;
    border-radius: 3px;
    padding: 10px 20px;
}

.rating {
    display: inline-block;
    vertical-align: middle;
}

.ratingText {
    vertical-align: middle;
    margin: 5px;
}
.ratingTag {
    vertical-align: middle;
    margin-left: 5px;
    font-size: 90%;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    padding: 1px 5px;
    background: #d1dbfa;
    color: #123bb6;
    text-decoration: none;
    cursor: pointer;
}
.rating i {
    color: #0075be;
}